.flip-card{
    position: relative;
    width: 300px;
    aspect-ratio: 1/1;
    perspective: 1000px;
    transform-style: preserve-3d;
    border-radius: 8px;
}
.front, .back{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: transform 0.6s;
    backface-visibility: hidden;
}
.front{
    background-color: transparent;
    color: black;
}
.back{
    background-color: transparent;
    color: black;
    transform: rotateY(180deg)
}
.flip-card:hover .back{
    transform: rotateY(0deg);
}
.flip-card:hover .front{
    transform: rotateY(-180deg);
}