body, body * {  
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
.custom-nav a {
  font-family: monospace;
  text-decoration: none;
}
.custom-github {
  width: 28px;
  height: 28px;
}
.custom-div2 {
  background-color: #0d6efd;
  height: 500px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

