body {
  font-family: Arial, Helvetica, sans-serif;
}
.custom-nav a {
  text-decoration: none;
  font-family: monospace;
}
.custom-github {
  width: 28px;
  height: 28px;
}
.custom-div2 {
  background-color: #0d6efd;
  height: 800px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
.custom-header {
  color: white;
}
