@font-face {
  font-family: "KakaoSans";
  src: url("assets/fonts/KakaoBigSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "KakaoSans";
  src: url("assets/fonts/KakaoBigSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KakaoSans";
  src: url("assets/fonts/KakaoBigSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.page-animate {
  opacity: 0;
  transform: translateY(30px);
  animation: pageFadeUp 1s ease-out forwards;
}

@keyframes pageFadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body,
body * {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.custom-nav a {
  font-family: monospace;
  padding-left: 24px;
  text-decoration: none;
}
#navboder {
  border-bottom: 1px solid #0d6efd;
  padding-bottom: 1rem;
}
.custom-github {
  width: 28px;
  height: 28px;
}
.custom-div2 {
  background-color: #0d6efd;  
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  padding-bottom: 24px;
}
.custom-text-contain {
  display: inline-block;
}
.custom-text {
  letter-spacing: 5px;
  border-right: 5px solid;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s forwards steps(18), cursor 0.4s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#Kinstro {
  font-family: "KakaoSans", sans-serif;
  font-weight: 600;
  overflow: hidden;
}
#my-dream {
  position: absolute;
  bottom: 4px;
  left: 24px;
  color: white;
  padding: 8px;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Reponsive */
